div#resc li {list-style-type:none;  margin-bottom: 8px; background-color:transparent;padding:5px; border-bottom: solid 1px #ccc;}

div#resc	li:hover{ border-color:#ccc; box-shadow: 0 0 10px #ccc;background-color:#ffffff;}
