div#resc li {list-style-type:none; margin-bottom:10px;  background-color:rgba(239, 239, 239,.65);padding:12px}

div#resc	li:hover{ background-color:#cfc09f;border-color:#444; box-shadow: 0 0 10px #444;}
